@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@media (max-width: 600px) {
  body,html{
    padding: 0;
    margin: 0;
    
  }
    .container-fluid{
      width:100vw;
      height:100vh;
    }
    #mainSlider{
      margin-left:5px;
      margin-right:5px;
    }
    h1.main-title{
      font-family: 'Raleway', sans-serif;
      display: flex;
      text-align:center;
      justify-content: left;
      font-size:20px;
    }
    #slide-carro{
      padding-bottom: 20px;
    }
    .card{
      background: transparent;
      border:none;
      margin-bottom:15px;
    }
    .card-text#textoL{
      text-align: left;
      font-size: 15px;
    }
    .card-text#textoD{
      text-align: left;
      padding-top: 10px;
      font-size: 15px;
    }
    .card-title#up{	
      text-align: left;
      font-family: 'Raleway', sans-serif;	
      font-weight: 300;
      color:darkorange;
      text-transform: uppercase;	
    }
    .card-title#low{
      text-align: left;	
      font-family: 'Raleway', sans-serif;	
      font-weight: 300;
      color:darkorange;
      text-transform: uppercase;	
    }
    #menu {
      display: block;
      position: absolute;
      width: 100%;
      top: 75px;
      right: 0px;
      background: #080808cc;
      transition: 0.6s;
      z-index: 1000;
      height: 0px;
      visibility: hidden;
      overflow-y: hidden;
      color: rgb(255, 255, 255);
      border:none;
    }
    #nav.active #menu {
      height: calc(100vh - 70px);
      visibility: visible;
      overflow-y: auto;
    }
    #menu a {
      padding: 1rem 0;
      margin: 0 1rem;
      border-bottom: 2px solid rgb(255, 255, 255);
      
    }
    #btn-mobile {
      display: flex;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: 0.5rem;
    }
    #hamburger {
      border-top: 2px solid;
      width: 20px;
      margin-left: 10px;
      
    }
    #hamburger::after,
    #hamburger::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 2px;
      transition: 0.3s;
      position: relative;
    }
    #nav.active #hamburger {
      border-top-color: transparent;
    }
    #nav.active #hamburger::before {
      transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
      transform: rotate(-135deg);
      top:-4px;
    }
    .header {
      background: #050505fd;
    }
    .iconPesquisa{
      display:none;
    }
    .row#rodape{
      position:relative;
      align-items: center;
      justify-content:center;
      padding-top: 50px;
      padding-left:40px;
      
  }
} 