@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
margin: 0;
padding: 0;
}
body,html{
	padding: 0;
    margin: 0;
	width: 100vw;
	height: 100vh;
	background-image:linear-gradient(rgba(0, 0, 0, 0.863),rgba(0, 0, 0, 0.863)),url(../img/bg03.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	
}

.container-fluid{
	width: 100%;
	height:100%;
}
.row {
	top:120px;
	bottom: 100px;
	padding: 25px 25px 25px 25px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius:20px;
}
h1.main-title{
	font-family: 'Raleway', sans-serif;
	display: flex;
	text-align:center;
	justify-content: left;
	font-size:30px;
	font-weight: 600;
	color:darkorange;	
}
#slide-carro{
	padding-bottom: 150px;

}
.card-img-top{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}
.card-img-bottom{
	display: flex;
	align-items: center;
	justify-content: center;
}
.card-title#up{	
	font-family: 'Raleway', sans-serif;	
	font-weight: 400;
	color:darkorange;
	text-transform: uppercase;	
}
.card-title#low{
	text-align: left;	
	font-family: 'Raleway', sans-serif;	
	font-weight: 400;
	color:darkorange;
	text-transform: uppercase;	
}
.card-text#textoL{
	font-family: 'Raleway', sans-serif;
	color:white;	
	font-size:15px;
	margin: 5px 5px 0 0 ;
}
.card-text#textoD{
	font-family: 'Raleway', sans-serif;
	color:white;	
	font-size:15px;
	margin: 5px 5px 0 0 ;
}
.card{
	background: transparent;
	border:none;
	margin-bottom:50px;
}
#share{
	display:flex;
	align-items: center;
	position: fixed left;
	justify-content: left;
	margin-left: 15px;
	width:25px;
	color:darkorange;
	cursor: pointer;
}
h3{
	font-weight: 300;
	font-size: 20px;
	margin: 10px;
	font-family: 'Raleway', sans-serif;	
	color: darkorange;
	display: grid;
	cursor: pointer;
}
.row#rodape{
	position:relative;
    display:flex;
	align-items: center;
	justify-content:right;
	padding-top: 50px;
	padding-left:80%;
	

}
